/*
Il est possible d'importer du css à l'intérieur d'un autre fichier CSS, en revanche, mis à par les commentaires, cela doit figurer dans les premières lignes lues par le navigateur
*/
@import url("./bootstrap-icons.css");
@import url("./spray-me.css");

/* root */

:root {
  --font-family: Arial, Helvetica, sans-serif;
  --nav-link-color: yellow;
  --nav-border-link-color: yellow;
  --nav-border-link-color-50: rgba(255, 255, 0, 0.5);
  --nav-bg-color: #333;
  --header-bg-color: #333;
  --title-font-family: "spray me";
  --title-shadow-color: yellow;
  --title-color: #333;
  font-family: var(--font-family);
  --base-font-size: 1.2rem;
  font-size: var(--base-font-size);
  line-height: 1.5em;
  --goutiere: 0.5rem;
  --hero-bg-color: rgba(255, 255, 0, 0.5);
  --body-bg-color: white;
  --bg-secondary: grey;
  --color-scondary: white;
  --border-secondary: #d4d4d4;
}

/* déclarations générales */

/*
le sélecteur css * permet de cibler TOUT les éléments du document
*/

* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-block-start: 0.5rem;
  margin-block-end: 0.25rem;
}

/* déclaration classes */

.menu-toggle,
.brand {
  padding: calc(var(--goutiere) / 2) 0;
  display: inline-block;
  font-size: 1.5rem;
}

.hero {
  background-color: var(--hero-bg-color);
  padding: calc(var(--goutiere) / 2) 0;
}

.hero article {
  background-color: var(--body-bg-color);
  padding: var(--goutiere);
  margin-bottom: var(--goutiere);
}

.hero article header {
  padding: calc(var(--goutiere) / 2) 0;
}

.my-auto {
  margin-top: auto !important;
  margin-bottom: auto !important;
}

.mx-auto {
  margin-left: auto !important;
  margin-right: auto !important;
}

.py-auto {
  padding-top: auto !important;
  padding-bottom: auto !important;
}

.px-auto {
  padding-left: auto !important;
  padding-right: auto !important;
}

.h-100 {
  height: 100%;
}

.w-100 {
  width: 100%;
}

.img-rwd {
  max-width: 100%;
}

.d-flex {
  display: flex;
}

.i-block{
    display: inline-block;
}

.align-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.btn {
  border: 1px solid transparent;
  border-radius: calc(var(--goutiere) / 3);
  padding: calc(var(--goutiere) / 2);
}

.btn-secondary {
  background-color: var(--bg-secondary);
  color: var(--color-scondary);
  border-color: var(--border-secondary);
}

.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary:focus-visible {
  opacity: 0.8;
  cursor: pointer;
  outline: none;
}

.message {
  border: 2px solid transparent;
  font-style: italic;
  font-size: 0.7rem;
  padding: calc(var(--goutiere) / 7);
  margin: calc(var(--goutiere)) 0;
}

.message::before {
  display: inline-block;
  font-family: bootstrap-icons !important;
  font-style: normal;
  font-weight: normal !important;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  vertical-align: -0.125em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.message-info {
  background-color: rgb(137, 174, 243);
  border-color: rgb(90, 146, 250);
  border-radius: calc(var(--goutiere) / 3);
  color: var(--header-bg-color);
}

.message-info::before{
    content: "\F430";
}

.site-title {
  font-family: var(--title-font-family);
  text-transform: uppercase;
  font-size: calc(2rem + 2vw);
  line-height: calc(2.2rem + 2vw);
}

figure.vignette {
  width: 100%;
  position: relative;
  margin: 0;
  background-color: #333;
}

figure.vignette::before {
  display: block;
  padding-top: 100%;
  content: "";
}

figure.vignette > img {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
}

figure.vignette > figcaption {
  position: absolute;
  bottom: 0;
  font-size: 0.8rem;
  font-weight: 600;
  background-color: rgba(255, 255, 255, 0.8);
}

.collapse {
  display: grid;
  grid-template-rows: 0fr;
  transition: grid-template-rows 0.5s ease;
}

.collapse > * {
  overflow: hidden;
}

.collapse.show {
  grid-template-rows: 1fr;
}

/* déclaration selon la structures des éléments et les classe si besoin */

body {
  margin: 0;
}

body > nav {
  background-color: var(--nav-bg-color);
}

body > nav ul,
body > footer ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

body > nav li:not(body > nav li:last-child) {
  border-bottom: 1px solid var(--nav-border-link-color);
}

body > nav a,
body > footer a {
  color: var(--nav-link-color);
  text-decoration: none;
  display: block;
}

body > nav ul a:hover,
body > nav ul a:focus,
body > nav ul a:focus-visible,
body > footer a:hover,
body > footer a:focus,
body > footer a:focus-visible {
  background-color: var(--nav-link-color);
  color: var(--nav-bg-color);
  outline: none;
}

body > header {
  height: 25vh;
  background:
    linear-gradient(rgba(255, 255, 255, 0.6)),
    url(../images/galerie/world-eaters.jpg) no-repeat center center;
  background-size: cover;
}

body > header .site-title {
  text-shadow: 3px 3px 0px var(--title-shadow-color);
}

main > header {
  padding: calc(var(--goutiere) / 2) 0;
  line-height: 2.5rem;
  text-align: center;
  background-color: var(--header-bg-color);
  color: var(--nav-link-color);
  letter-spacing: 5px;
}

main > header h1.site-title {
  font-size: 1.5rem;
  text-shadow: 2px 2px 0 darkred;
  font-weight: normal;
}

section > header {
  padding: var(--goutiere);
}

body > footer {
  font-size: 0.8rem;
  padding: var(--goutiere) 0;
  background-color: var(--header-bg-color);
  color: var(--nav-link-color);
}

body > footer ul.reseaux {
  display: flex;
  flex-wrap: wrap;
}

body > footer ul.reseaux li {
  padding: 0 calc(var(--goutiere));
}

body > footer a {
  padding: 0 1vw;
}

form input[type="email"] {
  line-height: 1rem;
  font-size: 0.8rem;
  border: 1px solid var(--nav-border-link-color);
  border-radius: calc(var(--goutiere) / 3);
  padding: calc(var(--goutiere) / 2);
}

form input[type="email"]:hover,
form input[type="email"]:focus,
form input[type="email"]:focus-visible {
  outline: none;
  box-shadow: 0px 0px 0px 3px var(--nav-border-link-color);
}

/* media queries */
@media (min-width: 768px) {
  .menu-toggle {
    display: none;
  }

  body > nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
  }

  body > nav li:not(body > nav li:last-child) {
    border-bottom: unset;
  }

  body > nav a {
    padding: 0 1vw;
  }

  .collapse {
    display: block;
    overflow: unset;
    transition: none;
  }
}
